<% for (var i=0; i<this.length; i++) { %>
	<table class="table table-condensed table-bordered">
		<% for (var key in this[i]) { %>
			<tr>
				<td> <%= key %> </td>
						
					<% if (this[i][key] instanceof Object == true) { %>
						 <% if (this[i][key].hasOwnProperty("_data")) { %>
								<td> <%= JSON.stringify(this[i][key]._data) %> </td>
						<% } else { %>
								<% var NoteClassObj = [] %>
								<% for (var j=0; j<= this[i][key].length; j++) { %>
									<% NoteClassObj.push(this[i][key][j]) %>
								<% } %>
								<td> <%= NoteClassObj.toString() %> </td>
						<% } %>
					<% } else { %>
							<td> <%= this[i][key].toString() %> </td>
					<% } %>
	
			</tr>
		<% } %>
	</table>
<% } %>